*{
    font-family: system-ui;   /*Hice un reset de margenes y estableci esta fuente de letra a todo*/
    margin: 0;
    
}

header{
    background-color: rgb(13, 136, 126);
    justify-content: center;
    width: 100%;
    align-items: center;
    border-bottom: 4px solid black;
}
nav{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    
}
.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}

.logo img{
    width: 50px;
    margin-right: 10px;
}
.enlaces{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.enlaces ul{
    display: flex;
    list-style: none;
    
}
.enlaces a{
    text-decoration: none;
}
.enlaces li{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.enlaces button{
    color: blueviolet;
    background-color: white;
    border: 1px solid blueviolet;
    box-shadow: 3px 3px 2px black;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s ;
    
}

/*aqui agrege un hover al boton de Donate con una 
pequeña transicion para que se vea mas suave al cambiar, esto lo aplique
a todos los botones y tambien a las etiquetas <a> de la navbar*/
.enlaces button:hover{  
    padding: 12px 22px;
    background-color: blueviolet;  
    cursor: pointer;
    color: white;
    transition: 0.6s ;
   
    
}
ul li{
    transition: 0.6s;
}
ul li:hover{
    color: white;
    cursor: pointer;
    text-decoration: overline;
    transition: 0.6s;
}


.contenedor-inputs{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    gap: 100px;
    align-items: center;
   
}
.contenedor-inputs p{
    color:white;
}

.input1, .input2{
    margin-top: 10px;
}

.input1 select{
    margin-right: 20px;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    background-color:rgba(255, 255, 255, 0.795)
    }
    
.contenedor-inputs img{
    width: 30px;
    margin-right: 10px;
}
.input1{
    display: flex;
    align-items: center;
   
}
.input2{
    display: flex;
    align-items: center;
   
    
}
.input2 input{
margin-right: 20px;
width: 200px;
height: 30px;
border: 2px solid black;
background-color:rgba(255, 255, 255, 0.795)
}

.contenedor-inputs button{
    color: white;
    background-color: blueviolet;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 2px black;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s ;
}

.contenedor-inputs button:hover{
    padding: 5px 9px;
    background-color: rgb(221, 153, 238);
    cursor: pointer;
    color: white;
    transition: 0.6s ;
   
}
.contenedor-pets{
    border: none;
    border-radius: 30px;
    padding: 30px;
    background-color: rgba(172, 162, 162, 0.541);
    margin-bottom:30px ;
    margin-top: 30px;
    display: flex;
    width: 90%;
    height: 300px;
    align-items: center;
    box-shadow: 3px 3px 8px black;
   
}
.sub-contenedorpets{
    padding: 20px;
    width: 100%;
}

.titulo-pets{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
   
}
.descripcion{
    display: flex;
    
    width: 100%;
    align-items: center;
    justify-content: space-between;
}



main button{
    color: white;
    background-color: rgb(33, 250, 232);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 2px black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s ;
    text-shadow: 1px 2px 4px black;
    height: 50px;
    width: 200px;

}
 main button:hover{
    color: white;
    background-color: rgb(47, 255, 20);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 2px black;
    height: 55px;
    width: 205px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s ;
    text-shadow: 1px 2px 4px black;
 }
 main{
    width: 100%;
    
 }

 .contenedor-principal{
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
 }

 .contenedor-principal img{
    border: 2px solid blueviolet;
    border-radius: 50px;
    box-shadow: 3px 3px 6px blueviolet;
 }

 .contenedor-principal span{
    font-weight: bold;
    margin-right: 10px;
 }


 /* de aqui para abajo intente agregarle una 
 pequeña animación a las imagenes de las mascotas
 haciendo parecer como que flotan para ello use el parametro animation y keyframes
 pd:Tengo conocimientos previos sobre css y html, no soy un experto pero aplique lo que sabia*/


 #img-mascota{
    animation: flotar 3s ease-in-out infinite;
 }

 
 
 @keyframes flotar {

   0%
   {
      transform: translateY();
   }
   50%
   {
      transform: translateY(-0.5rem);
   }
   100%
   {
      transform: translateY();
   }
   
 }